<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ford_robot_controller_pkg)/config/movement.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/ford_robot" args="front_right_wheel_position_controller
                                            front_left_wheel_position_controller
                                            rear_right_wheel_position_controller
                                            rear_left_wheel_position_controller
                                             joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rrbot/joint_states" />
  </node> -->

</launch>